<div class="container">
    <div>Bài5</div>
        <div class="card text-center">
            <div class="card-header">
                <strong> Tinh Thuong Tet Nguyen Dang</strong>
            </div>
        </div>
        <div class="card-body">
            <form #template="ngForm">
                <div class="form-group">
                    <label>Ho ten</label>
                    <input type="text" class="form-control" [(ngModel)]="nhanviencheck.hoten" ngModel name="username"
                        required #name="ngModel">
                </div>
                <div *ngIf=" name.invalid || (name.invalid && (name.dirty || name.touched))" class="alert alert-danger">
                    Khong Duoc Bo Trong!</div>
                <div *ngIf="name.valid && (name.dirty || name.touched)" class="alert alert-success">Thanh Cong!</div>
                <label>Luong</label>
                <div class="form-group input-group-append">
                    
                    <input type="number" class="form-control" [(ngModel)]="nhanviencheck.luong" ngModel name="luong"
                        #luong="ngModel">
                    <div class="input-group-append">
                        <span class="input-group-text">VND</span>
                    </div>
    
                </div>
                <div *ngIf="(luong.dirty || luong.touched) && template.value.luong<2000000" class="alert alert-danger">Luong Phai Tu 2,000,000VND
                </div>
                <div *ngIf="(luong.dirty || luong.touched) && template.value.luong >= 2000000" class="alert alert-success">
                    Thanh Cong!</div>
                <div class="form-group">
                    <label>Gioi Tinh</label>
                    <input type="radio" value="nam" name="gender" [(ngModel)]="nhanviencheck.gioitinh"
                        [ngModelOptions]="{standalone: true}">nam
                    <input type="radio" value="nu" name="gender" [(ngModel)]="nhanviencheck.gioitinh"
                        [ngModelOptions]="{standalone: true}">nu
                </div>
                <div class="form-group">
                    <label>Tuoi</label>
                    <select [(ngModel)]="nhanviencheck.rate" [ngModelOptions]="{standalone: true}" class='form-control'>
                        <option *ngFor="let p of dotuoicheck" value="{{p.rate}}">{{ p.tuoi }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="card-header">
            <strong>
                Tien Thuong: {{tienthuong() | currency: " " }} VND
            </strong>
        </div>
    </div>