<div class="container">


    <div class="container" id="header">
        <h2> My Shop</h2>
    </div>


    <div class="theLeft">
        <div id="links">
            <h4>Links</h4>
            <ul id="ulhead">
                <li>
                    View Cart
                </li>
                <li>
                    Login/Register
                </li>
                <li [routerLink]="['/lab8']">Home</li>
            </ul>
        </div>
        <div id="categories">
            <h4>Categories</h4>
            <ul id="ulhead" *ngFor= "let a of categories">
                <li ><a href='/bycate/{{a.id}}'>{{a.catename}}</a>
                   
                </li>
            </ul>
        </div>
        <div id="templink">
            <h4>Temp Link</h4>
            <ul id="ulhead">
                <li >
                    Admin
                </li>
            </ul>
        </div>
    </div>
    <div class="theRight">
        
        <div class="card">
            <div class="card-header text-center">
                <strong >Product</strong>
            </div>
            <div class="card-body"  >
                <div class="row" *ngFor = 'let item of cate'>
                    <div class="col col-3">
                        <img src="../assets/{{item.image}}" id="image1">
                    </div>
                    <div class="col col-9">
                        <a routerLink = '/detaillab8/{{item.id}}'>{{item.productname}}</a>
                        <p><strong>Price:</strong>{{item.price}}</p>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
